<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNSS Mirror</title>
    <script src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
    <script src="{{url_for("static", filename="js/typed.min.js")}}"></script>
    <script>
        $(function(){
            $(".type").typed({
                strings: ["just hack", "just hAck ^1000 4 fun."],
                typeSpeed: 100
            });
        });
    </script>
    <link rel="stylesheet" href="{{url_for("static", filename="css/semantic.min.css")}}">
    <link href='http://fonts.googleapis.com/css?family=Dosis:200|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for("static", filename="css/index.css")}}">
</head>
<body>
    <header>
        <h1 class="heading">>>> <span class="type"></span></h1>
        <h2>Welcome to the UESTC open source mirror</h2>
        <h3>Provied by <a href="https://cnssuestc.org">Cohesion Network Security Studio</a></h3>
    </header>
    <div class="ui page grid">
        <div class="eleven wide column">
            <h3 class="ui heading">镜像列表</h3>
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <td>镜像源</td>
                        <td>大小</td>
                        <td>上次更新</td>
                        <td>帮助</td>
                    </tr>
                </thead>
                <tr>
                    
                </tr>
            </table>
        </div>
        <div class="five wide column">
            <h3>相关帮助</h3>
            <div class="ui segment">
                <h4 class="ui ribbon label">获取发行版安装镜像</h4>
                <div>
                    这里为您提供各大主流 Linux 发行版的安装镜像 / ISO 文件，请根据您的发行版及其详细版本进行选择
                </div>
            </div>
            <div class="ui segment">
                <h4 class="ui ribbon label">关于我们</h4>
                <div>
                    <b>凝聚网络安全工作室</b>，成立于2007年。是以电子科技大学在校本科学生为主力，依托电子科大网络安全技术实验室，培养在网络安全领域全面发展的高级人才的摇篮。 
                </div>
            </div>
            <div class="ui segment">
                <h4 class="ui ribbon label">联系我们</h4>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>